/* The Reset, let's reset the lot! ---------------------------------- */
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, p, blockquote, table, th, td { margin: 0; padding: 0; }
fieldset,img { border: 0; }
h1,h2,h3,h4,h5,h6,th { font-style: normal; font-weight: normal; }
a { text-decoration: none; }

body, html {
    background: #f2f2f2;
    color: #444;
    height:100%;
}

p {
    margin: 3px 0;
}

#header {
    position: relative;
    height: 140px;
    width: 100%;
    background: #23282D;
}

#logo {
    font-size: 60pt;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #fff;
}

#logo strong {
    color: #EFEFEF;
}

#grid-container, #header-container {
   margin: auto;
   max-width: 1200px;
}

#grid-container {
    background-color: #FAFAFA;
    /* height: 100%; */
    /* width: 95%; */
    padding-top: 15px;
}

.grid-item {
    background-color: #F4F4F4;
    margin-bottom: 20px;
    padding: 5px;
    bordeR: 1px solid #E6E6E6;
}

#navigation-menu {
    color: white;
    /* margin-top: 35px; */
}

    #navigation-menu ul li {
        float: left;
        list-style: none;
        margin: 0 6px;
    }
    
    #navigation-menu a {
        color: white;
    }
    
    #navigation-menu a:hover {
        color: grey;
    }
    
    .glance {
        background-color: #EAEAEA;
        margin: 3px 0;
    }
    
    table {
        width: 100%;
        
    }